Package: chuck
Version: 1.4.1.0-1
Maintainer: Hugh Rawlinson <hughr2005@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)
Architecture: amd64
Description: Strongly-timed, Concurrent, and On-the-fly Music Programming Language
	ChucK is a programming language for real-time sound synthesis and music
	creation. ChucK offers a unique time-based, concurrent programming model that is
	precise and expressive (we call this strongly-timed), dynamic control rates, and
	the ability to add and modify code on-the-fly. In addition, ChucK supports MIDI,
	OpenSoundControl, HID device, and multi-channel audio. It is open-source and
	freely available on MacOS X, Windows, and Linux. It's fun and easy to learn, and
	offers composers, researchers, and performers a powerful programming tool for
	building and experimenting with complex audio synthesis/analysis programs, and
	real-time interactive music. 
